<header class="bg-darkPurple text-cream">
  <nav class="py-4 px-8 flex justify-between items-center">
    <a href="#" routerLink="/">
      <h1 class="text-lg font-bold">Twitch Clips</h1>
    </a>
    <button *ngIf="!isLoggedIn" id="loginButton" (click)="openAuthModal()" class="py-2 px-4 drop-shadow-lg rounded-2xl hover:bg-lightPurple focus:outline focus:outline-2 outline-cream">Se connecter /
      S'inscrire</button>
    <ng-container *ngIf="isLoggedIn">
      <div class="flex gap-4">
        <ul class="hidden sm:flex justify-between items-center list-none gap-4">
          <li><a href="#" routerLink="/video/manage" class="hover:underline">Gérer les vidéos</a></li>
          <li><a href="#" routerLink="/video/upload" class="hover:underline">Upload une vidéo</a></li>
          <li class="h-2/3 border-r"></li>
          <li class="hover:cursor-pointer hover:underline" (click)="logout()">Se déconnecter</li>
        </ul>
        <div class="sm:hidden text-3xl" (click)="toggleShowMobileMenu()">
          <fa-icon [icon]="barsIcon"></fa-icon>
        </div>
      </div>
    </ng-container>

  </nav>

  <!-- Menu to display if  -->
  <div class=" sm:hidden" *ngIf="showMobileMenu && isLoggedIn">
    <ul class="list-none w-full text-center">
      <li class="border-seance-800 border-t"></li>

      <li class="py-3"><a href="#" routerLink="/video/manage" class="focus:underline">Gérer les vidéos
        <fa-icon [icon]="arrow"></fa-icon>
      </a></li>
      <li class="border-seance-800 border-t"></li>

      <li class="py-3"><a href="#" routerLink="/video/upload" class="focus:underline">Upload une vidéo
        <fa-icon [icon]="arrow"></fa-icon>
      </a></li>
      <li class="border-seance-800 border-t"></li>
      <li class="py-3 focus:underline" (click)="logout()">Se déconnecter
        <fa-icon [icon]="arrow"></fa-icon>
      </li>
    </ul>
  </div>
</header>

<ng-template #authenticationModal let-modal>
  <app-login></app-login>
</ng-template>
